body {
	font-size: 16px;
}
* {
	margin: 0px;
	padding: 0px;
	font-family: 'ABeeZee' ;
  }

.navbar {
	background-color:#d8cbc4;
}
.navbar-brand {
	color:#5b3831;
	font-size: 2em;
}
.navbar-toggle {
	background-color: #bca89f;
}
.navbar-toggle:hover {
	border:1000px white;
}
.navbar-toggle span {
	background-color: white;
}
.menu {
	margin-bottom:15px;
}
.menu h1{
	font-size: 3em;
}
/*nav--------------------------------------------------*/
@media (max-width: 768px) {
	.collapse {
		background-color: #bca89f;
	}
	.collapse a {
		color: #e0d9d3;
		font-size: 1em;
	}
}
@media (min-width: 768px) {
	.s1, .s2, .s3 {
		height: 500px;
	}
}




.s {
	border: 1px solid;
	box-sizing: border-box;
	min-height: 350px;
}

.c {
		padding: 20px;
		text-align: left;
		font-size: 15px;
}
.s1, .s2, .s3 {
 	
	margin: 20px;
	box-sizing: border-box;
	padding: 15px;
}
.c1, .c2, .c3 {
	margin-top:-20px;
}
p {
text-align: center;
text-align: justify;
}

/*section 1 */
.s1 {
	background-color: #DEF2F1;
}

/*section 2 */
.s2 {
	background-color: #FFF3DB;
}

/*section 3 */
.s3 {
	background-color: #F9D1D1;
}
