body {
	font-size: 16px;
}
* {
	margin: 0px;
	padding: 0px;
	font-family: 'ABeeZee' ;

}
.mtext {
	text-align: center;
	border: 1px solid;
	padding-top: 30px;
	padding-bottom: 60px;
}
.s {
	border: 1px solid;
	box-sizing: border-box;
	min-height: 350px;
	overflow-x: string;
	
	
	

}
.c1, .c2, .c3{
	border: solid 1px;
	width: 40%;
	position: relative;
	position: top-left;
	margin-left: 60%;
	padding-top: 4px; 
	padding-bottom:4px;
	font-family: 'ABeeZee';
	text-align: center;
}
.c {
		padding: 20px;
		text-align: left;
		font-size: 15px;
}
/*section 1 */
.s1 {
	background-color: #DEF2F1;
}
.s1 > .c {
	color: #17252A;
}
.s1 > .c1 {
	background-color: #3AAFA9 ;
}
.c1 > h3 {
	color: white;
}

/*section 2 */
.s2 {
	background-color: #FFF3DB;
}
.s2 > .c {
	color: #ba1709 ;
}
.s2 > .c2 {
	background-color: #F76A6A ;
}
.c2 > h3 {
	color: #FFF3DB;
}

/*section 3 */
.s3 {
	background-color: #F9D1D1;
}
.s3 > .c {
	color: #F765A3 ;
}
.s3 > .c3 {
	background-color: #F765A3 ;
}
.c3 > h3 {
	color: #F9D1D1;
}





/* desktop version */
@media (min-width: 992px) {
.s {
	position: relative;
	float: left;
	margin: 1%;
	width: 30.33%;

	}
}

/* tablet version */
@media (min-width: 768px) and (max-width: 991px) {
.s1, .s2 {
	width: 48%;
	float: left;

	}
.s3 {
	width: 98%;
	float: left;
	}
.s {
	margin: 1%;
	}
}

/* mobile version */
@media (max-width: 767px) {
.s1, .s2, .s3 {
	margin: 1%;
	width: 98%;
	float: left;

	}

}



